<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='linea-style.css' charset='utf-8'>
  </head>

  <body>
    <div class="body-container">
      <div id='lin-1st-line'>
        <center>
          <img src='linea/1.jpg' id='lin-1'/>
        </center>
      </div>
      <div id='lin-2nd-line'>
        <center>
          <img src='linea/2a.jpg' id='lin-2a' />
          <img src='linea/2b.jpg' id='lin-2b' />
          <img src="LABELS/LINEA/LINEA1.png" id="label-1" />
        </center>
      </div>
      <div id="lin-3rd-line">
        <center>
          <img src='linea/3.jpg' id='lin-3' />
        </center>
      </div>
      <div id='lin-4th-line'>
        <img src='linea/4b.jpg' id='lin-4a' />
        <img src='linea/4a.jpg' id='lin-4b' />
      </div>
      <div id="lin-5th-line">
        <center>
          <img src='linea/5.jpg' id='lin-5' />
        </center>
      </div>
      <div id="lin-6th-line">
        <img src="LABELS/LINEA/S-LINEA2.png" id="label-2" />
        <img src='linea/6a.jpg' id='lin-6a' />
        <img src='linea/6b.jpg' id='lin-6b' />
      </div>
      <div id="lin-7th-line">
          <img src='linea/7.jpg' id='lin-7' />
      </div>
      <div id="lin-8th-line">
        <center>
          <img src='linea/8.jpg' id='lin-8' />
        </center>
      </div>
      <div id="lin-9th-line">
        <img src='linea/9a.jpg' id='lin-9a' />
        <img src='linea/9b.jpg' id='lin-9b' />
      </div>
      <div id="lin-10th-line">
        <img src='linea/10.jpg' id='lin-10' />
      </div>
      <div id="lin-11th-line">
        <img src="LABELS/LINEA/LINEA3.png" id="label-3" />
        <img src='linea/11.jpg' id='lin-11' />
      </div>
      <div id="lin-12th-line">
        <center>
          <img src='linea/12a.jpg' id='lin-12a' />
          <img src='linea/12b.jpg' id='lin-12b' />
        </center>
      </div>
      <div id="lin-13th-line">
        <center>
          <img src='linea/13.jpg' id='lin-13' />
        </center>
      </div>
      <div id='lin-14th-line'>
        <img src='Prices.png' id='prices'/>
      </div>
    </div>
    <div class="bottom-buttons">
      <a class='button' href='#'>INFO</a>
      <a class='button2' href='#'>BOOK</a>
      <div class='wrap'>
        <div class='content'>
          <p> P H O T O G R A P H Y&nbsp; /&nbsp; A N A&nbsp; L U R R A Y &nbsp; /&nbsp; <a href="http://www.analarruy.com">www.analarruy.com</a></p>
          <p> V I D E O G R A P H E R&nbsp; /&nbsp; R O M Á N&nbsp; C A D A F A L C H </p>
          <p> W E B&nbsp; D E S I G N&nbsp; /&nbsp; G E O R G I A&nbsp; M I L L S&nbsp; /&nbsp; <a href="http://georgiamills.io">www.georgiamills.io</a></p>
          <p> S E T&nbsp; /&nbsp; G R A C E&nbsp; P R I N C E </p>
          <p id='space'> P I E C E S&nbsp; W I T H I N&nbsp; S E T </p>
          <P> D E S I G N E D&nbsp; A N D&nbsp; M A D E&nbsp; B Y&nbsp; G R A C E&nbsp; P R I N C E </p>

        </div>
      </div>
      <div class='wrap2'>
        <div class='content2'>
          <input type="image" class="next" src="nextButton.png " />
          <input type="image" class="prev" src="backButton.png " />
          <div class="book_gallery">
            <div style="display: inline-block;">
              <img src="linea/lin_book_1.png"/>
            </div>
            <div>
             <img src="linea/lin_book_2.png"/>
            </div>
            <div>
              <img src="linea/lin_book_3.png"/>
            </div>
            <div>
              <img src="linea/lin_book_4.png"/>
            </div>
            <div>
              <img src="linea/lin_book_5.png"/>
            </div>
            <div>
              <img src="linea/lin_book_6.png"/>
            </div>
            <div>
              <img src="linea/lin_book_7.png"/>
            </div>
            <div>
              <img src="linea/lin_book_8.png"/>
            </div>
            <div>
              <img src="linea/lin_book_9.png"/>
            </div>
            <div>
              <img src="linea/lin_book_10.png"/>
            </div>
            <div>
              <img src="linea/lin_book_11.png"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/controller.js"></script>
    <script src="js/gallery-controller.js"></script>
    <script src="js/linea-controller.js"></script>

  </body>
</html>
