<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='ceppo-style.css' charset='utf-8'>
  </head>

  <body>
    <div class='first-line'>
      <center>
        <img src='ceppo/1.png' id='ceppo-1'/>
        <img src='ceppo/1a.png' id='ceppo-1a'/>
      </center>
    </div>
    <div class='second-line'>
        <img src="LABELS/CEPPO/CEPPO1.png" id="c-label-1">
        <img src='ceppo/2.png' id='ceppo-2'/>
    </div>
    <div class="second-addon">
      <center>
        <img src='ceppo/2-add.png' id='ceppo-2-add' />
      </center>
    </div>
    <div class='third-line'>
      <img src='ceppo/3.png' id='ceppo-3' />
      <img src='ceppo/3b.png' id='ceppo-3b' />
      <img src="LABELS/CEPPO/CEPPO2.png" id="c-label-2">
    </div>
    <div class='fouth-line'>
      <center>
        <img src='ceppo/4a.png' id='ceppo-4a' />
      </center>
    </div>
    <div class='5th-line'>
      <img src='ceppo/5.png' id='ceppo-5' />
    </div>
    <div class="6th-line">
      <center>
        <img src='ceppo/6.png' id='ceppo-6'  />
      </center>
    </div>
    <div class='7th-line'>
      <center>
        <img src='ceppo/7a.png' id='ceppo-7a' />
        <img src='ceppo/7b.png' id='ceppo-7b'  />
      </center>
    </div>
    <div class='8th-line'>
      <img src='ceppo/8.png' id='ceppo-8'/>
    </div>

  </body>
</html>
