<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='style.css' charset='utf-8'>
  </head>

  <body>
    <div class='first-line'>
      <center>
        <img src='ceppo/1.png' id='ceppo-1' height="550px"/>
        <img src='ceppo/1a.png' id='ceppo-1a' height="450px"/>
      </center>
    </div>
    <div class='second-line'>
      <img src='ceppo/2.png' id='ceppo-2' height='550px'/>
    </div>
    <div class='third-line'>
      <img src='ceppo/3.png' id='ceppo-3' height='550px' />
    </div>
    <div class='fouth-line'>
      <center>
        <img src='ceppo/4a.png' id='ceppo-4a' height='500px' />
        <img src='ceppo/4b.png' id='ceppo-4b' height='470px' />
      </center>
    </div>
    <div class='5th-line'>
      <img src='ceppo/5a.png' id='ceppo-5a' height="400px" />
      <img src='ceppo/5b.png' id='ceppo-5b' height="400px" />
    </div>
    <div class="6th-line">
      <center>
        <img src='ceppo/6.png' id='ceppo-6' height="600px" />
      </center>
    </div>
    <div class='7th-line'>
      <center>
        <img src='ceppo/7a.png' id='ceppo-7a' height="550px" />
        <img src='ceppo/7b.png' id='ceppo-7b' height="550px" />
      </center>
    </div>
    <div class='8th-line'>
      <img src='ceppo/8.png' id='ceppo-8' height="600px" />
    </div>

  </body>
</html>
