<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='style.css' charset='utf-8'>
  </head>

  <body>
    <div class='first-line'>
      <img src='linea/1.png' id='third-1' height='500px'/>
    </div>

  </body>
</html>
