<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='linea-style.css' charset='utf-8'>
  </head>

  <body>
    <div class='lin-1st-line'>
      <center>
        <img src='linea/1.png' id='lin-1'/>
      </center>
    </div>
    <div id='lin-2nd-line'>
      <center>
        <img src='linea/2a.png' id='lin-2a' />
        <img src='linea/2b.png' id='lin-2b' />
        <img src="LABELS/LINEA/LINEA1.png" id="label-1" />
      </center>
    </div>
    <div id="lin-3rd-line">
      <center>
        <img src='linea/3.png' id='lin-3' />
      </center>
    </div>
      <div id='lin-4th-line'>
        <img src='linea/4b.png' id='lin-4a' />
        <img src='linea/4a.png' id='lin-4b' />
      </div>
      <div class="lin-5th-line">
        <center>
          <img src='linea/5.png' id='lin-5' />
        </center>
      </div>
      <div id="lin-6th-line">
        <img src="LABELS/LINEA/S-LINEA2.png" id="label-2" />
        <img src='linea/6a.png' id='lin-6a' />
        <img src='linea/6b.png' id='lin-6b' />
      </div>
      <div class="lin-7th-line">
        <center>
          <img src='linea/7.png' id='lin-7' />
        </center>
      </div>
      <div class="lin-8th-line">
        <center>
          <img src='linea/8.png' id='lin-8' />
        </center>
      </div>
      <div class="lin-9th-line">
        <img src='linea/9a.png' id='lin-9a' />
        <img src='linea/9b.png' id='lin-9b' />
      </div>
      <div class="lin-10th-line">
        <img src='linea/10.png' id='lin-10' />
      </div>
      <div class="lin-11th-line">
        <img src="LABELS/LINEA/LINEA3.png" id="label-3" />
        <img src='linea/11.png' id='lin-11' />
      </div>
      <div class="lin-12th-line">
        <center>
          <img src='linea/12a.png' id='lin-12a' />
          <img src='linea/12b.png' id='lin-12b' />
        </center>
      </div>
      <div class="lin-13th-line">
        <center>
          <img src='linea/13.png' id='lin-13' />
        </center>
      </div>
    <script src="js/controller.js"></script>
  </body>
</html>
