<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='linea-style.css' charset='utf-8'>
  </head>

  <body>
    <div class='lin-1st-line'>
      <center>
        <img src='linea/1.png' id='lin-1'/>
      </center>
    </div>
    <div id='lin-2nd-line'>
      <center>
        <img src='linea/2a.png' id='lin-2a' />
        <img src='linea/2b.png' id='lin-2b' />
        <img src="LABELS/LINEA/LINEA1.png" id="label-1" />
      </center>
    </div>
    <div id="lin-3rd-line">
      <center>
        <img src='linea/3.png' id='lin-3' />
      </center>
    </div>
      <div id='lin-4th-line'>
        <img src='linea/4b.png' id='lin-4a' />
        <img src='linea/4a.png' id='lin-4b' />
      </div>
      <div class="lin-5th-line">
        <center>
          <img src='linea/5.png' id='lin-5' />
        </center>
      </div>
      <div id="lin-6th-line">
        <img src="LABELS/LINEA/S-LINEA2.png" id="label-2" />
        <img src='linea/6a.png' id='lin-6a' />
        <img src='linea/6b.png' id='lin-6b' />
      </div>
      <div id="lin-7th-line">
          <img src='linea/7.png' id='lin-7' />
      </div>
      <div class="lin-8th-line">
        <center>
          <img src='linea/8.png' id='lin-8' />
        </center>
      </div>
      <div id="lin-9th-line">
        <img src='linea/9a.png' id='lin-9a' />
        <img src='linea/9b.png' id='lin-9b' />
      </div>
      <div class="lin-10th-line">
        <img src='linea/10.png' id='lin-10' />
      </div>
      <div id="lin-11th-line">
        <img src="LABELS/LINEA/LINEA3.png" id="label-3" />
        <img src='linea/11.png' id='lin-11' />
      </div>
      <div id="lin-12th-line">
        <center>
          <img src='linea/12a.png' id='lin-12a' />
          <img src='linea/12b.png' id='lin-12b' />
        </center>
      </div>
      <div class="lin-13th-line">
        <center>
          <img src='linea/13.png' id='lin-13' />
        </center>
      </div>
      <div class="lin-14th-line">
        <center>
          <p> P H O T O G R A P H Y &nbsp;: &nbsp;A N A &nbsp; L U R R A Y </p>
          <p> S E T &nbsp; : &nbsp; G R A C E &nbsp; P R I N C E </p>
          <p> P I E C E S &nbsp; W I T H I N &nbsp; S E T </p>
          <P> D E S I G N E D &nbsp; A N D &nbsp; B U I L T &nbsp; B Y &nbsp; G R A C E &nbsp; P R I N C E </p>
        </center>
      </div>
      <a class='button' href='#'>INFO</a>
      <a class='button2' href='#'>BOOK</a>
      <div class='wrap'>
        <div class='content'>
          <h2>Well Hello!</h2>
          <p>GRACE PRINCE IS THE MOST TALENTED PERSON EVER</p>
          <p>HIRE HER OR YOU WILL REGRET IT</p>
        </div>
      </div>


      <div class='wrap2'>
        <div class='content2'>
          <h2>HELLO AGAIN </h2>
          <p>LOOK AT ALL THESE AMAZING SKETCHES</p>
          <p>HIRE HER OR YOU WILL REGRET IT</p>
        </div>
      </div>

    <script src="js/linea-controller.js"></script>
    <script src="js/controller.js"></script>
  </body>
</html>
