<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='linea-style.css' charset='utf-8'>
  </head>

  <body>
    <div class='lin-1st-line'>
      <img src='linea/1.png' id='lin-1' height='550px'/>
    </div>
    <div class='lin-2nd-line'>
      <center>
        <img src='linea/2a.png' id='lin-2a' height='550px'/>
        <img src='linea/2b.png' id='lin-2b' height='550px'/>
      </center>
    </div>
    <div class="lin-3rd-line">
      <center>
        <img src='linea/3.png' id='lin-3' height='450px'/>
      </center>
    </div>
      <div class='lin-4th-line'>
        <img src='linea/4b.png' id='lin-4a' height='500px'/>
        <img src='linea/4a.png' id='lin-4b' height='500px'/>
      </div>
      <div class="lin-5th-line">
        <center>
          <img src='linea/5.png' id='lin-5' height='600px'/>
        </center>
      </div>
      <div class="lin-6th-line">
        <img src='linea/6a.png' id='lin-6a' height='500px'/>
        <img src='linea/6b.png' id='lin-6b' height='350px'/>
      </div>
      <div class="lin-7th-line">
        <center>
          <img src='linea/7.png' id='lin-7' height='650px'/>
        </center>
      </div>
      <div class="lin-8th-line">
        <center>
          <img src='linea/8.png' id='lin-8' height='500px'/>
        </center>
      </div>
      <div class="lin-9th-line">
        <img src='linea/9a.png' id='lin-9a' height='500px'/>
        <img src='linea/9b.png' id='lin-9b' height='500px'/>
      </div>
      <div class="lin-10th-line">
        <img src='linea/10.png' id='lin-10' height='500px'/>
      </div>
      <div class="lin-11th-line">
        <img src='linea/11.png' id='lin-11' height='700px'/>
      </div>
      <div class="lin-12th-line">
        <center>
          <img src='linea/12a.png' id='lin-12a' height='500px'/>
          <img src='linea/12b.png' id='lin-12b' height='500px'/>
        </center>
      </div>
      <div class="lin-13th-line">
        <center>
          <img src='linea/13.png' id='lin-13' height='520px'/>
        </center>
      </div>
  </body>
</html>
