<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='style.css' charset='utf-8'>
  </head>

  <body>
    <div class='sep-1st-line'>
      <center>
        <img src='scolpire/1a.png' id='scolpire-1a' height="600px"/>
        <img src='scolpire/1b.png' id='scolpire-1b' height="600px"/>
      </center>
    </div>
    <div class='sept-2nd-line'>
      <center>
        <img src='scolpire/2.png' id='scolpire-2' height="450px"/>
      </center>
    </div>
    <div class='sept-3rd-line'>
      <center>
        <img src='scolpire/3.png' id='scolpire-3' height="400px"/>
      </center>
    </div>
    <div class='sept-4th-line'>
      <center>
        <img src='scolpire/4a.png' id='scolpire-4a' height="400px"/>
        <img src='scolpire/4b.png' id='scolpire-4a' height="400px"/>
      </center>
    </div>
    <div class='sept-5th-line'>
      <img src='scolpire/5a.png' id='scolpire-5a' height="500px"/>
      <img src='scolpire/5b.png' id='scolpire-5b' height="300px"/>
    </div>
    <div class='sept-6th-line'>
      <center>
        <img src='scolpire/6.png' id='scolpire-6' height="500px"/>
      </center>
    </div>
    <div class='sept-7th-line'>
      <center>
        <img src='scolpire/7.png' id='scolpire-7' height="700px"/>
      </center>
    </div>
    <div class='sept-8th-line'>
      <center>
        <img src='scolpire/8.png' id='scolpire-8' height="700px"/>
      </center>
    </div>
    <div class='sept-9th-line'>
      <img src='scolpire/9.png' id='scolpire-9' height="500px"/>
    </div>
    <div class='sept-10th-line'>
      <img src='scolpire/10.png' id='scolpire-10' height="500px"/>
    </div>
  </body>
</html>
