<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='scolpire-style.css' charset='utf-8'>
  </head>

  <body>
    <div class='sep-1st-line'>
      <center>
        <img src='scolpire/1a.png' id='scolpire-1a' />
        <img src='scolpire/1b.png' id='scolpire-1b' />
      </center>
    </div>
    <div class='sept-2nd-line'>
      <center>
        <img src="LABELS/SCOLPIRE/SCOLPIRE1.png" id="s-label-1">
        <img src='scolpire/2.png' id='scolpire-2'/>
      </center>
    </div>
    <div class='sept-3rd-line'>
      <center>
        <img src='scolpire/3.png' id='scolpire-3' />
      </center>
    </div>
    <div class='sept-4th-line'>
      <center>
        <img src='scolpire/4a.png' id='scolpire-4a' />
        <img src='scolpire/4b.png' id='scolpire-4a' />
        <img src="LABELS/SCOLPIRE/SCOLPIRE2.png" id="s-label-2">
      </center>
    </div>
    <div class='sept-5th-line'>
      <img src='scolpire/5a.png' id='scolpire-5a'/>
      <img src='scolpire/5b.png' id='scolpire-5b' />
    </div>
    <div class='sept-6th-line'>
      <center>
        <img src='scolpire/6.png' id='scolpire-6' />
      </center>
    </div>
    <div class='sept-7th-line'>
      <center>
        <img src='scolpire/7.png' id='scolpire-7'/>
      </center>
    </div>
    <div class='sept-8th-line'>
      <center>
        <img src='scolpire/8.png' id='scolpire-8' />
      </center>
    </div>
    <div class="sept-8a-line">
      <img src='scolpire/8-add.png' id='scolpire-8-add' />
      <img src="LABELS/SCOLPIRE/SCOLPIRE3.png" id="s-label-3">
    </div>
    <div class='sept-9th-line'>
      <img src='scolpire/9.png' id='scolpire-9'/>
    </div>
    <div class='sept-10th-line'>
      <img src='scolpire/10.png' id='scolpire-10'/>
    </div>
  </body>
</html>
