<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='style.css' charset='utf-8'/>
  </head>

  <body>
    <center class = "index_page">
      <div class = "group_header">
        <ul class="header_list">
          <li> <a href="/scolpire"> <img src='logos/SCOLPIRE2.png' id='footer1'> </a> </li>
          <li id="series_two"> <a href="/ceppo"> <img src='logos/CEPPO2.png'  > </a> </li>
          <li> <a href="/linea"> <img src='logos/LINEA2.png' id="footer3"> </a> </li>
        </ul>
      </div>

      <div class = "main_picture">
        <video width="100%" controls autoplay>
          <source src='VIDEO.mp4' type="video/mp4">
        </video>

      </div>

      <div class="group_footer">
        <ul class="footer_list">
          <li> <a href="/press" id="footer1">P R E S S</a> </li>
          <li> <a href="/people" >P E R S O N</a> </li>
          <li> <a href="/past" id="footer3" >P A S T</a> </li>
        </ul>
      </div>
    </center>
  </body>
</html>
