<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='stylesheet.css' charset='utf-8'>
  </head>

  <body class = "index_page">
    <center>
    <div class = "group_header">
      <ul class="header_list">
        <li class="series_one"> <a href="/group_one"> <img src='CEPPO2.png' style="width:250px" alt=''> </a> </li>
        <li id="series_two"> <a href="/group_two"> <img src='SCOLPIRE2.png' style="width:250px" > </a> </li>
        <li id="series_three"> <a href="/group_three"> <img src='LINEA2.png' style="width:250px" > </a> </li>
      </ul>
    </div>
    <div class = "main_picture">
      <img src="HoldingImage1.png" alt="holding image" class = "pic">
    </div>
  </center>
  </body>
</html>
