<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='stylesheet.css' charset='utf-8'>
  </head>

  <body class = "index_page">
    <center>
    <div class = "group_header">
      <ul class="header_list">
        <li> <a href="/group_one"> first group </a> </li>
        <li> <a href="/group_two"> second group </a> </li>
        <li> <a href="/group_three"> third group </a> </li>
      </ul>
    </div>
    <div class = "main_picture">
      <img src="HoldingImage1.png" alt="holding image" style="width:500px;height:500px;">
    </div>
  </center>
  </body>
</html>
