<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='stylesheet.css' charset='utf-8'>
  </head>

  <body class = "index_page">
    <center>
    <div class = "group_header">
      <ul class="header_list">
        <li id="series_one"> <a href="/group_one"> SERIES / PINO </a> </li>
        <li id="series_two"> <a href="/group_two"> SERIES / CEPPO </a> </li>
        <li id="series_three"> <a href="/group_three"> SERIES / NOCE </a> </li>
      </ul>
    </div>
    <div class = "main_picture">
      <img src="HoldingImage1.png" alt="holding image" class = "pic">
    </div>
  </center>
  </body>
</html>
