<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='stylesheet.css' charset='utf-8'>
  </head>

  <body class = "index_page">
    <div class = 'logo_header'>
      <h1>This is where the magic will hapen</h1>
      <h2>Grace prince logo goes here</h2>
    </div>
    <div class = "group_header">
      <li> first group </li>
      <li> second group </li>
      <li> third group </li>
    </div>
    <div class = "main_picture">
      <h3> photo will go here </h3>
    </div>
    <div class = "footer">
      <li> press </li>
      <li> process <li>
      <li> design work </li>
      <li> book </li>
      <li> contact </li>
    </div>

  </body>
</html>
