<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='stylesheet.css' charset='utf-8'>
  </head>

  <body class = "index_page">
    <h1>Grace prince </h1>
    <h1>Video goes here</h1>
    <h3> <a href="/index"> Cick on this graceprince logo to go to continue </a> </h3>
  </body>
</html>
