<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='stylesheet.css' charset='utf-8'>
  </head>

  <body class = "video_view">
    <h1>Grace prince initial video page</h1>
    <h1>Video goes here</h1>
    <a href="/index">Click here (grace prince logo) to go to the main index page</a>
  </body>
</html>
