body {
  max-width: 100%;
  height: 100vh;
  position: relative;
}


.text-container{
  margin-top: -85px;
}

img#ceppo-1a {
  margin-left: 30px;
  margin-bottom: 30px;
}

img#c-label-1 {
  height: 100px;
  margin-left: 400px;
  margin-bottom: 400px;
}

img#ceppo-2 {
  margin-top: 200px;
}

.second-addon {
  margin-top: 400px;
}
img#ceppo-2-add {
  margin-top: 600px;
  margin-left: 450px;
}

img#ceppo-3 {
  margin-top: 200px;
  margin-left: 245px;
  margin-right: 90px;
}

img#ceppo-3b {
  margin-bottom: 30px;
}
img#c-label-2 {
  height: 100px;
  margin-bottom: 400px;
}

img#ceppo-4a {
  margin-top: 400px;
  margin-left: 330px;
}

img#ceppo-5 {
  margin-top: 200px;
  margin-left: -500px;
}

img#ceppo-6 {
  margin-top: 200px;
}

img#ceppo-7a {
  margin-top: 200px;
  margin-right: 20px;
}

img#ceppo-8 {
  margin-top: 300px;
  margin-left: 350px;
  margin-bottom: 200px;
}

.ceppo-9th-line{
  margin-bottom: 200px;
  opacity: 0.6;
}
