@media screen and (min-width : 1024px) {
img#lin-2a {
  margin-top: 200px;
  margin-right: 20px;
}

img#label-1 {
  height: 100px;
  margin-bottom: 450px;
}

img#lin-3 {
  margin-top: 600px;
}

img#lin-4a {
  margin-top: 200px;
  margin-left: 400px;
  margin-right: 10px;
}

img#lin-5 {
  margin-top: 700px;
}

img#label-2 {
  height: 100px;
  /*margin-bottom: 450px;*/
  margin-left: 390px;
  margin-top: 100px;
}

img#lin-6a {
  margin-left: 10px;
  margin-top: 200px;
  margin-right: 35px;
  z-index: 10 !important;
  position: absolute;
}

img#lin-6b {
  margin-bottom: 50px;
  left: 75%;
  margin-top: 250px;
  position: absolute;
  z-index: 9 !important;
}

img#lin-7 {
  margin-top: -400px;
  margin-left: -550px;
}

.lin-8th-line {
  margin-top: 900px;
}

img#lin-9a {
  margin-top: 200px;
  margin-left: 500px;
  margin-right: 10px;
}

img#lin-10 {
  margin-top: 0;
  margin-left: 200px;
}

img#label-3 {
  height: 100px;
  margin-bottom: 500px;
  margin-left: 200px;
}

img#lin-11 {
  margin-top: 250px;
  margin-bottom: 100px;
}

img#lin-12a {
  margin-top: 100px;
  margin-right: 40px;
}

img#lin-13 {
  margin-top: 100px;
  margin-bottom: 200px;
}

.lin-14th-line{
  margin-bottom: 200px;
  opacity: 0.6;
}
}

@media screen and (min-width : 415px) and (max-width : 1024px) {
  body {
    max-width: 768px;
    height: auto;
  }
  img#scolpire-1a {
    width: 40%;
    height: auto;
  }
  img#scolpire-1b {
    width: 40%;
    height: auto;
  }
  img#scolpire-2 {
    width: auto;
    height: auto;
    margin-top: 100px;
  }

  img#s-label-1{
    width: 50%;
    height: auto;
  }

  img#scolpire-3 {
    width: auto;
    height: auto;
    margin-top: 100px;
    margin-left: 50%;
  }

  img#scolpire-4a {
    width: auto;
    height: auto;
    margin-top: 100px;
    margin-right: 5%;
  }
  img#scolpire-4b {
    width: auto;
    height: auto;
  }

  img#s-label-2{
    width: 50%;
    margin-top: 100px;
  }

  img#scolpire-5a {
    width: auto;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
  }

  img#scolpire-6 {
    width: auto;
    height: auto;
    margin-top: 100px;

  }
  img#scolpire-7 {
    width: auto;
    height: auto;
    margin-top: 100px;

  }
  img#scolpire-8 {
    width: auto;
    height: auto;
    margin-top: 100px;
  }

 img#scolpire-8-add {
   width: auto;
   height: auto;
   margin-top: 100px;
   margin-left: 10%;
 }

  img#s-label-3 {
    width: 50%;
    height: auto;
    margin-top: 100px;
  }

  img#scolpire-9 {
    width: auto;
    height: auto;
  }
  img#scolpire-10 {
    width: auto;
    height: auto;
    margin-top: 100px;
    margin-left: 10%;
  }

}

@media screen and (max-width : 415px) {
  body {
    width: 320px;
    height: auto;
  }
  img#scolpire-1a {
    width: 45%;
    height: auto;
  }
  img#scolpire-1b {
    width: 45%;
    height: auto;
  }
  img#scolpire-2 {
    width: auto;
    height: auto;
    margin-top: 100px;
  }

  img#s-label-1{
    margin-top: 100px;
    width: 50%;
    height: auto;
  }

  img#scolpire-3 {
    width: auto;
    height: auto;
    margin-left: 10%;
  }

  img#scolpire-4a {
    width: auto;
    height: auto;
    margin-top: 100px;
    margin-right: 5%;
  }
  img#scolpire-4b {
    width: auto;
    height: auto;
    margin-top: 100px;
  }

  img#s-label-2{
    width: 50%;
    margin-top: 100px;
  }

  img#scolpire-5a {
    width: auto;
    height: auto;
    margin-left: 5%;
  }
  img#scolpire-5b {
    width: auto;
    height: auto;
    margin-left: 5%;
    margin-top: 100px;
  }

  img#scolpire-6 {
    width: 90%;
    height: auto;
    margin-top: 100px;

  }
  img#scolpire-7 {
    width: 90%;
    height: auto;
    margin-top: 100px;

  }
  img#scolpire-8 {
    width: 90%;
    height: auto;
    margin-top: 100px;
  }

 img#scolpire-8-add {
   width: 90%;
   height: auto;
   margin-top: 100px;
   margin-left: 10%;
 }

  img#s-label-3 {
    width: 50%;
    height: auto;
    margin-top: 100px;
  }

  img#scolpire-9 {
    width: 90%;
    height: auto;
  }
  img#scolpire-10 {
    width: 90%;
    height: auto;
    margin-top: 100px;
    margin-left: 10%;
  }
}
