
@media screen and (min-width : 1024px) {
  img#scolpire-1b {
    margin-right: -10px;
  }

  img#scolpire-2 {
    margin-top: 200px;
    margin-left: 500px;
  }

  img#s-label-1  {
    height: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
  }

  img#scolpire-3 {
    margin-top: 200px;
    margin-left: 200px;
  }

  img#scolpire-4a {
    margin-top: 300px;
    margin-right: 25px;
  }

  img#s-label-2  {
    height: 100px;
    margin-bottom: 380px;
  }

  img#scolpire-5a {
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 50px;
    margin-bottom: 100px;
  }

  img#scolpire-6 {
    margin-top: -100px;
  }
  img#scolpire-7 {
    margin-top: 200px;
    margin-left: 1300px;
  }
  img#scolpire-8 {
    margin-top: 200px;
  }

  #sept-8a-line{
    margin-top: 200px;
  }

  img#scolpire-8-add {
    margin-left: 200px;
  }
  img#s-label-3  {
    height: 100px;
    margin-bottom: 380px;
    margin-left: 100px;
  }
  img#scolpire-9 {
    margin-top: 200px;
    margin-left: 500px;
  }

  img#scolpire-10 {
    margin-top: 200px;
    margin-left: 150px;
    margin-bottom: 200px;
  }

  .sept-11th-line{
    margin-top: 150px;
    margin-bottom: 150px;
    opacity: 0.6;
  }
  img#prices{
    width: 20%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 50px;
  }

}

@media screen and (min-width : 415px) and (max-width : 1024px) {
  body {
    max-width: 768px;
    height: auto;
  }
  img#scolpire-1a {
    width: 45%;
    height: auto;
  }
  img#scolpire-1b {
    width: 45s%;
    height: auto;
  }
  img#scolpire-2 {
    width: 45%;
    height: auto;
    margin-top: 100px;
  }

  img#s-label-1{
    width: 50%;
    height: auto;
  }

  img#scolpire-3 {
    width: 40%;
    height: auto;
    margin-top: 100px;
    margin-left: 50%;
  }

  img#scolpire-4a {
    width: 40%;
    height: auto;
    margin-top: 100px;
    margin-right: 5%;
  }
  img#scolpire-4b {
    width: 40%;
    height: auto;
  }

  img#s-label-2{
    width: 50%;
    margin-top: 100px;
  }

  img#scolpire-5a {
    width: 50%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
  }
  img#scolpire-5b {
    width: 35%;
    height: auto;
  }

  img#scolpire-6 {
    width: 50%;
    height: auto;
    margin-top: 100px;

  }
  img#scolpire-7 {
    width: 70%;
    height: auto;
    margin-top: 100px;

  }
  img#scolpire-8 {
    width: 70%;
    height: auto;
    margin-top: 100px;
  }

 img#scolpire-8-add {
   width: 50%;
   height: auto;
   margin-top: 100px;
   margin-left: 10%;
 }

  img#s-label-3 {
    width: 50%;
    height: auto;
    margin-top: 100px;
  }

  img#scolpire-9 {
    width: 60%;
    height: auto;
  }
  img#scolpire-10 {
    width: 50%;
    height: auto;
    margin-top: 100px;
    margin-left: 10%;
  }
}

@media screen and (max-width : 415px) {
  body {
    width: 100%;
    height: auto;
  }
  img#scolpire-1a {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  img#scolpire-1b {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  img#scolpire-2 {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }

  img#s-label-1{
    margin-top: 100px;
    width: 50%;
    height: auto;
  }

  img#scolpire-3 {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  img#scolpire-4a {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  img#scolpire-4b {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }

  img#s-label-2{
    width: 50%;
    height: auto;
    margin-top: 100px;
  }

  img#scolpire-5a {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  img#scolpire-5b {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }

  img#scolpire-6 {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

  }
  img#scolpire-7 {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  img#scolpire-8 {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }

 img#scolpire-8-add {
   width: 70%;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 100px;
 }

  img#s-label-3 {
    width: 50%;
    height: auto;
    margin-top: 100px;
  }

  img#scolpire-9 {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  img#scolpire-10 {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
}
