
img#scolpire-1b {
  margin-right: -10px;
}

img#scolpire-2 {
  margin-top: 200px;
  margin-left: 500px;
}

img#s-label-1  {
  height: 100px;
  margin-left: 50px;
  margin-bottom: 100px;
}

img#scolpire-3 {
  margin-top: 200px;
  margin-left: 200px;
}

img#scolpire-4a {
  margin-top: 300px;
  margin-right: 25px;
}

img#s-label-2  {
  height: 100px;
  margin-bottom: 380px;
}

img#scolpire-5a {
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 50px;
  margin-bottom: 100px;
}

img#scolpire-6 {
  margin-top: 200px;
}
img#scolpire-7 {
  margin-top: 200px;
  margin-left: 1300px;
}
img#scolpire-8 {
  margin-top: 200px;
}
img#scolpire-8-add {
  margin-left: 200px;
}
img#s-label-3  {
  height: 100px;
  margin-bottom: 380px;
  margin-left: 100px;
}
img#scolpire-9 {
  margin-top: 200px;
  margin-left: 500px;
}

img#scolpire-10 {
  margin-top: 200px;
  margin-left: 150px;
}

.sept-11th-line{
  margin-top: -150px;
  margin-bottom: 200px;
  opacity: 0.6;
}
