
* {
  font-family: 'Squada One', cursive;
}

ul.header_list li {
  display: inline;
  margin: 25px;
  list-style: none;
}

ul.footer_list li {
  display: inline;
  margin: 160px;
  font-size: 10pt;
  list-style: none;
}

a:visited, a:link, a:active {
  text-decoration: none;
  color:#B9B9B9;
}

a:hover {
  color: black;
}

div.first-line {
  margin-top: 100px !important
}

.PERSON {

}

img#place-holder {
  height: 550px;
  margin-right: 50px;
  z-index: 5;
  position: relative;
}

img#person-photo {
  height: 550px;
  z-index: 6;
}

#email {
  position: absolute;;
  top: 280px;
  left: 780px;
  z-index: 7;
}

.design_work_view {
  margin-left: 30%;
}
