
* {
  font-family: 'Squada One', cursive;
}

body.index_page{
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}
.group_header {
  width: 100%;
}

ul.header_list {
  display: table;
  width: 100%;
  padding: 0;
}

ul.header_list li{
  display: table-cell;
}

ul.header_list img{
  width: 69%;
}

.group_footer {

}

ul.footer_list {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 0;
}
ul.footer_list li {
  display: table-cell;
  font-size: 10pt;
  list-style: none;
  margin: 0;
}
#footer1{
  float: left;
}

#footer3{
  float: right;
}



a:visited, a:link, a:active {
  text-decoration: none;
  color:#B9B9B9;
}

a:hover {
  color: black;
}

div.first-line {
  margin-top: 100px !important
}

.PERSON {

}

img#place-holder {
  height: 550px;
  margin-right: 50px;
  z-index: 5;
  position: relative;
}

img#person-photo {
  height: 550px;
  z-index: 6;
}

#email {
  position: absolute;;
  top: 280px;
  left: 780px;
  z-index: 7;
}

.design_work_view {
  margin-left: 10%;
  font-size: 10pt;
}
