
* {
  font-family: 'Squada One', cursive;
}

ul.header_list li {
  display: inline;
  margin: 25px;
  list-style: none;
}

ul.footer_list li {
  display: inline;
  margin: 160px;
  font-size: 12pt;
  list-style: none;
}

a:visited, a:link, a:active {
  text-decoration: none;
  color:#B9B9B9;
}

a:hover {
  color: black;
}

div.first-line {
  margin-top: 100px !important
}

img#third-1 {
  margin-left: 100px;
}

img#ceppo-1a {
  margin-left: 30px !important;
  margin-bottom: 30px !important;
}

img#ceppo-2 {
  margin-top: 200px;
  margin-left: 645px;
}

img#ceppo-3 {
  margin-top: 200px;
  margin-left: 245px;
}

img#ceppo-4a {
  margin-top: 200px;
  margin-left: 245px;
  margin-right: 20px;
}

img#ceppo-5a {
  margin-top: 200px;
  margin-left: 245px;
}

img#ceppo-6 {
  margin-top: 200px;
}

img#ceppo-7a {
  margin-top: 200px;
  margin-right: 20px;
}

img#ceppo-8 {
  margin-top: 200px;
  margin-left: 350px;
  margin-bottom: 200px;
}

/*CSS FOR SCOLPIRE*/

img#scolpire-1b {
  margin-right: -10px;
}

img#scolpire-2 {
  margin-top: 200px;
}

img#scolpire-3 {
  margin-top: 200px;
}

img#scolpire-4a {
  margin-top: 200px;
  margin-right: 25px;
}

img#scolpire-5a {
  margin-top: 200px;
  margin-left: 250px;
  margin-right: 50px;
  margin-bottom: 100px;
}

img#scolpire-6 {
  margin-top: 200px;
}
img#scolpire-7 {
  margin-top: 300px;
}
img#scolpire-8 {
  margin-top: 300px;
}
img#scolpire-9 {
  margin-top: 300px;
  margin-left: 600px;
}

img#scolpire-10 {
  margin-top: 100px;
  margin-left: 50px;
  margin-bottom: 200px;
}
