<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='stylesheet.css' charset='utf-8'>
  </head>

  <body class = "book_view">
    <center>
      <h1> Pickies of the book</h1>
    </center>
  </body>
</html>
