<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='stylesheet.css' charset='utf-8'>
  </head>

  <body class = "contact_view">
    <center>
      <div class = 'logo_header'>
        <h2><a href '/index'> Grace prince </a></h2>
      </div>
      <div class = 'contact_email'>
        <h1> INFO@GRACEPRINCE.COM </h1>
      </div>
      <div class = 'contact_content'>
        <br><br>
        <h4>Show me crinkled skin born from sleepless nights and smiles worn wide,</h4>
        <h4> Let us wear the beauty and the battles of our bodies with pride, </h4>
        <h4> Choose not to reside in the boxes they use to categorise, </h4>
        <h4> Strive to show the beauty they seek to deny, </h4>
        <h4> Show our lives, our fights, our fleshy imperfections,</h4>
        <h4>Show our wit and our intelligence , show me ageless elegance, </h4>
        <h4> Show me women with flaws , show me older women more,</h4>
        <h4> Show me multiple facets, all kinds of attractive,</h4>
        <h4> Show me beauty unpackaged.</h4> <br>
        <h4> poem by Megan Beech for Grace Prince.</h4>
      </div>
    </center>
  </body>
</html>
