<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='style.css' charset='utf-8'>
  </head>

  <body>
    <div class="PERSON">
      <center>
        <a href="mailto:info@graceprince.com" id="email" >info@graceprince.com</a>
        <img src="place-holder.png" id="place-holder"/>
        <img src="PERSON.png" id="person-photo"/>
      </center>
    <div>
    <script src="js/controller.js"></script>
  </body>
</html>
