<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='person-stylesheet.css' charset='utf-8'>
  </head>

  <body>
    <div class="PERSON">
      <center>
        <img src="profpic.png" id="profile-pic"/>
        <a href="mailto:info@graceprince.com" id="contact-info" > <img src="PERSON.jpg" id="contact-info"/>
        </a>
        <img src="instagram.png" id="insta"/>
    </center>
    <div>
    <script src="js/controller.js"></script>
  </body>
</html>
