<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='stylesheet.css' charset='utf-8'>
  </head>

  <body class = "design_work_view">
    <center>
      
      <h1> Pickies of design work</h1>
    </center>
  </body>
</html>
