<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='fashion-style.css' charset='utf-8'>
  </head>
  <body>
    <div class='past-1st'>
       <img src='past/f1a.jpg' id='past-1a'/>
       <img src='past/f1b.jpg' id='past-1b' />
    </div>
    <div class='past-2nd'>
      <img src='past/fash_1.png' id='poem-1'/>
      <img src='past/f2a.png' id='past-2'/>
    </div>
    <div class='past-2nd-addon'>
       <img src='past/f2-addon.jpg' id='past-2addon'/>
    </div>
    <div class='past-3rd'>
       <img src='past/f3a.jpg' id='past-3a' />
       <img src='past/f3b.jpg' id='past-3b'/>
    </div>
    <div class='past-4th'>
      <center>
        <img src='past/f4.jpg' id='past-4'/>
        <img src='past/fash_2.png' id='poem-2'/>
      </center>
    </div>
    <div class='past-5th'>
      <center>
       <img src='past/f5a.jpg' id='past-5a'/>
       <img src='past/f5b.jpg' id='past-5b' />
     </center>
    </div>
    <div class='past-6th'>
      <center>
       <img src='past/f6a.jpg' id='past-6a' />
       <img src='past/f6b.jpg' id='past-6b' />
     </center>
    </div>
    <div class='past-7th'>
      <img src='past/fash_3.png' id='poem-3'/>
       <img src='past/f7.jpg' id='past-7'/>
    </div>
    <div class='past-8th'>
      <center>
       <img src='past/f8.png' id='past-8'/>
     </center>
    </div>
    <div class='past-9th'>
       <img src='past/f9.jpg' id='past-9'/>
    </div>
    <div class='past-10th'>
       <img src='past/f10.jpg' id='past-10'/>
    </div>
    <div class='past-11th'>
      <img src='past/fash_4.png' id='poem-4'/>
       <img src='past/f11.jpg' id='past-11'/>
    </div>
    <div class='past-12th'>
       <img src='past/f12.jpg' id='past-12' />
    </div>
    <div class='past-13th'>
       <img src='past/f13a.jpg' id='past-13a' />
       <img src='past/f13b.jpg' id='past-13b' />
    </div>
    <div class='past-14th'>
      <center>
       <img src='past/f14.jpg' id='past-14' />
     </center>
    </div>
    <div class='past-15th'>
       <img src='past/f15.jpg' id='past-15' />
       <img src='past/fash_5.png' id='poem-5'/>
    </div>
    <div class='past-16th'>
       <img src='past/f16a.jpg' id='past-16a' />
       <img src='past/f16b.jpg' id='past-16b' />
    </div>
    <div class='past-17th'>
      <img src='past/fash_6.png' id='poem-6'/>
    </div>
  </body>
</html>
