
<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='style.css' charset='utf-8'>
  </head>

  <body>
    <div class='design_work_view'>
      <div id='1granary'>
        <h3 style="color:#C1272D"> 1 G R A N A R Y </h3>
        <a href="http://1granary.com/central-saint-martins-fashion/graduates/grace-prince/"> http://1granary.com/central-saint-martins-fashion/graduates/grace-prince/ </a>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div id='dazedandconfused'>
        <h3 style="color:#C1272D"> D A Z E D &nbsp; A N D &nbsp; C O N F U S E D </h3>
        <a href="http://www.dazeddigital.com/fashion/article/25047/1/is-the-graduate-show-dead"> http://www.dazeddigital.com/fashion/article/25047/1/is-the-graduate-show-dead </a>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div id='petrie'>
        <h3 style="color:#C1272D"> P E T R I e </h3>
        <a href="http://www.petrieinventory.com/les-plages-dagns"> http://www.petrieinventory.com/les-plages-dagns </a>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div id='thisispaper'>
        <h3 style="color:#C1272D"> T H I S &nbsp; I S &nbsp; P A P E R </h3>
        <a href="http://thisispaper.com/grace-prince/ "> http://thisispaper.com/grace-prince/  </a>
      </div>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class='design_work_view2'>
      <div id='exhibition'>
        <h3 style="color:#C1272D"> E X H I B I T I O N  </h3>
        <p style='color:#B9B9B9'> From the Studio Floor. Guildhall Gallery, Cambridge 2016 </p>
      </div>
    </div>
  </body>
</html>
