<!DOCTYPE HTML>
  <head>
    <link rel='stylesheet' href='stylesheet.css' charset='utf-8'>
  </head>

  <body class = "design_work_view">
    <center>
      <div class = 'logo_header'>
        <h2><a href '/index'> Grace prince </a></h2>
      </div>
      <h1> Vids of process </h1>
    </center>
  </body>
</html>
